/* global */
body {
    background-color: #fafafa;
}
.navbar {
    min-height: $navbar-height;
}
.navbar-default {
    border-color: $border-color;
}

/* app */

.app-container {
    footer {
        padding: 8px 0;
        text-align: right;
        font-size: .8em;
        border-top: 1px solid $border-color;
        color: #b7b7b7;
        font-weight: 400;
    }
}

/* navbar */
.header {
    padding: 0 12px;
    height: 57px;
    background-color: #fff;
    /*border-bottom: solid 1px #e3e3e3;*/
}
.desktop .header, .desktop.top-section.collapsed .nav .button {
    height: 49px;
}
.ig-info {
    height: 100%;
    padding: 9px 0;
}
:not(.desktop) .ig-info {
    background-color: #fff;
    height: 56px;
}
.desktop .ig-info {
    padding: 0;
    height: 49px;
    /*border-bottom: solid 1px #e3e3e3;*/
}
.no-gutter [class*="col-"]:first-child {
    padding-right: 0;
}

.ig-avatar, .ig-info-user, .ig-link, .video-wrapper {
    position: relative;
}
.ig-avatar {
    margin: 0 3px 0 4px;
    background-color: #e0e0e0;
    border-radius: 50%;
    height: $logo-height;
    width: $logo-width;
}
.store-name {
    left: 18px;
    color: #060606;
    font-size: 1.4em;
    line-height: 38px;
    font-weight: 600;
    position: relative;
    border-left: 1px solid #8c8c8c;
    padding: 0 0 0 24px;
    display: inline-block;
    height: 38px;
    top: 2px;
}

.desktop .ig-info-button {
    position: relative;
    height: 38px;
    display: inline-block;
    padding-right: 18px;
    border-top: none;
    top: 16px;
}




/* content */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $border-color;
    margin: 1em 0;
    padding: 0;
}

.main-container .content-container {
    margin: auto;
    padding-bottom: 6px;
    z-index: 0;
    position: relative;
}

.content-container-inner {
    padding-right: 4px;
    padding-left: 4px;
}

.loading-view {
    text-align: center;
    font-size: 30px;

    width: auto;
    clear: both;

    margin-bottom: 48px;

    .uil-spin-css {
        width: auto;
        height: auto;
        position: inherit;
    }
}

.mobile .callout .large, .subtitle {
    font-size: 15px;
}

.subtitle {
    margin: 0;
    color: #7e7e7e;
    padding: 18px 0 8px;
    border-bottom: 1px solid $border-color;
    margin-bottom: 6px;
    margin-top: 8px;
}

.subtitle hr {
    position: relative;
    top: 3px;
    margin: 5px 0 4px;
    width: 110%;
}

.desktop .subtitle {
    padding-top: 4px;
}

.desktop .subtitle hr {
    width: 100%;
}

.row.small-gutter [class*=col-]:first-child, 
.row.small-gutter [class*=col-]:last-child, 
.row.small-gutter [class*=col-]:not(:first-child):not(:last-child) {
    padding-right: 6px;
    padding-left: 6px;
}

.content {
    text-align: center;
    font-size: 15px;
    margin: 0;
    padding: 6px 0;
}

.photo-card {
    padding-bottom: 12px;
    position: relative;
    &:hover {
        cursor: pointer;
    }
}
.photo-card-type-video,
.photo-card-type-carousel,
.photo-card.x-state-exists{
    opacity: .5;
    .photo-card-box a{
        cursor: not-allowed;
    }
}
.photo-card-box {
    position: relative;
    width: 100%;
}

.ig-avatar, .ig-info-user, .ig-link, .video-wrapper {
    position: relative;
}

.photo-card-box a {
    display: block;
    &:after {
      position: absolute;
      content:" ";
    }
}

.squared-photo-div, .squared-photo-details-image-div {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}

.squared-photo-div {
    background-color: #fff;
}

.photo-card.ui-selected a,
.photo-card.ui-selecting a {
    &:after {
      top:8px;
      left:0;
      bottom:0;
      right:8px;
      background: url("../images/instagram/checked.png") no-repeat right top transparent;
      background-size: 32px 32px;
    }
}

/* responsive */

/* @note ORIGINAL 4 COLUMNS */
/*
@media only screen and (min-width: 1200px) {
    .desktop.content-container, .desktop.top-section .inner, footer {
        max-width: 1200px;
        margin: auto;
    }
}

@media only screen and (min-width: 1224px) and (orientation: landscape) {
    .main-container .content-container {
        padding-top: 58px;
    }
}

@media only screen and (min-width: 1200px) {
    .desktop.content-container, .desktop.top-section .inner {
        max-width: 1200px;
        margin: auto;
    }
}
*/

/* @note CIPHER.CO.TH 3 COLUMNS */
@media only screen and (min-width: 935px) {
    .desktop.content-container, .desktop.top-section .inner, footer {
        max-width: 935px;
        margin: auto;
    }
}

@media only screen and (min-width: 1224px) and (orientation: landscape) {
    .main-container .content-container {
        padding-top: $container-padding-top;
    }
}

@media only screen and (min-width: 935px) {
    .desktop.content-container, .desktop.top-section .inner {
        max-width: 935px;
        margin: auto;
    }
}



/* tags */
.photo-tags {
    user-drag: none; 
    -webkit-user-drag: none;
}
.photo-tags-wrapper {
    z-index: 5;
    position: relative;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
.photo-tags-tag{
    position: absolute;

    text-align: center;
    background-color: #fff;
    width: 28px;
    height: 28px;
    border-radius: 100px;
    padding-top: 2px;

    -webkit-box-shadow: 0 0 5px 0 #3e3e3e;
    -moz-box-shadow: 0 0 5px 0 #3e3e3e;
    box-shadow: 0 0 5px 0 #3e3e3e;
}
.photo-tags-tag > span{
    display: inline-block;
    font-size:.8em;
    font-weight: 700;
    cursor: pointer;
    color: #3e3e3e;
}
.photo-tags-preview {

}
.photo-tags-preview-item {
    float: left;
    padding: 0!important;
    position:relative;

    /*width:50%;*/
    width: calc(50% - 30px);
    margin-left: 15px;
}
.photo-tags-preview-item .photo-tags-tag {
    position: absolute;
    top: 0;
    left: 0;
}
.photo-tags-preview-item .photo-tags-name {
    font-weight: 700;
    font-size: .85em;
    width: 100%;
    display: inline-block;
    overflow: hidden;
    clear: both;
    /*height: 30px;*/
    /*line-height: 30px;*/
    text-align:center;
    padding-top:8px;
}
.photo-tags-preview-item .photo-tags-delete {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 0 0 0 4px;
    position: relative;
    top: 3px;
    background: url("../images/instagram/delete-32x32.png") no-repeat 0 0 transparent;
    background-size: 16px 16px;
    cursor: pointer;

    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.photo-tags-preview-item a.photo-tags-name {
    &:hover {
        .photo-tags-delete {
            -webkit-filter: inherit; /* Safari 6.0 - 9.0 */
            filter: inherit;
        }
    }
}
.photo-tags-name-text {
    min-height: 14px;
}

.photo-tags-form-wrapper {
    position: absolute;
    background-color: #22a7f0;
    color: white;
    width: 200;
    z-index: 10;
    cursor: default;
    padding: 10px;
    font-size: .9em;

    .error {
        color: red;
    }
}
.photo-tags-form-wrapper form{

}
.photo-tags-form-wrapper a{
    color: #fff;
}


/* CPS Override */
.cps.modal {
    color: #909090;
    .modal-header {
        height: 87px;
        margin-right: 12px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        .close {
            font-size: 3.2em;
        }
    }
    .modal-content {
        box-shadow: inherit;
        border-radius: inherit;
    }
    .squared-photo-div {
        //border: 1px solid $border-color;
    }
    .photo-tags-preview-item .photo-tags-tag {
        left: 2px;
        top: 2px;
    }
    .photo-tags-tag {
        box-shadow: inherit;
        border: 1px solid $border-color;
    }
}

@media only screen and (min-width: 768px) {
    .cps .multiproduct-product-list {
        overflow-y: auto;
    }
}
@media only screen and (min-width: 768px) {
    .cps .multiproduct-products {
        top:87px;
    }
}

/* responsive */

/* modal */
@media only screen and (min-width: 768px) {
    .multiproduct-modal .modal-body {
        padding: 0;
    }
}
@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }
}
@media only screen and (min-width: 768px) {
    .modal-dialog {
        max-width: 920px;
        min-width: 700px;
        width: 95%;
    }
}
@media only screen and (min-width: 768px) {
    .multiproduct-modal .modal-dialog {
        margin-top: 5%;
    }
}

@media only screen and (min-width: 768px) {
    .multiproduct-photo-container {
        background-color: #f7f7f7;
        padding-left: 0!important;
        padding-right: 0!important;
    }
}

@media only screen and (min-width: 768px) {
    .multiproduct-product-list {
        padding-left: 0!important;
        padding-right: 0!important;
        overflow-y: scroll;
        max-height: 536px;
        padding-bottom: 58.34%;
        position: relative;
    }
}
@media only screen and (min-width: 768px) {
    .multiproduct-products {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
@media only screen and (min-width: 768px) {
    .container-row, .product-row {
        margin-left: 0!important;
        margin-right: 0!important;
    }
}
@media only screen and (min-width: 768px) {
    .product-row {
        padding: 12px 0 0 12px!important;
    }
}

@media only screen and (min-width: 768px) {
    .spatial-tag-container {
        position: absolute;
        left: 50%;
        top: 50%;
    }
}

/* portrait and landscape */
@media only screen and (max-width: 767px) and (min-width: 1px){

    /* app */
    .desktop .header, .desktop.top-section.collapsed .nav .button {
        height: 86px;
    }
    .content-container, .desktop.content-container {
        padding-top: 92px;
    }
    .subtitle {
        border-bottom: 1px solid transparent;
        margin-bottom: 0;
    }
    .ig-avatar {
        width: 64px;
        height: 64px;
    }
    .store-name {
        border-left: 1px solid transparent;
        left: 6px;
        padding-left: 0;
    }
    .app-container footer {
        text-align: center;
        border: 1px solid transparent;
    }

    /* modal */
    .modal {
        .menu-row {
            display: block;
            height: 3.6em;
            border-bottom: 1px solid $border-color;
            padding: 8px 15px;

            &.footer {
                text-align: center;
                padding: 0 15px;
                border: none;
                height: initial;
                font-size: .7em;
            }

            .close {
                float:left;
                margin-right: 8px;
                font-size: 2.4em;
            }
            label {
                float: left;
                font-size: 1.2em;
                line-height: 1.2em;
                margin-top: .55em;
                font-weight: 400;
            }
        }
    }
    .modal-dialog {
        margin: 0;
    }
    .modal-body {
        padding: 0 15px 15px;
    }
    .modal-content {
        border: 0;
        border-radius: inherit;
    }
    .modal-title {
        margin: 0;
    }
    .cps.modal .modal-header {
        position: inherit;
        top: inherit;
        bottom: inherit;
        left: inherit;
        right: inherit;
        height: 36px;
        padding: 0 15px;

        .close {
            display: none;
        }
    }

    .modal-backdrop {
        background-color: #fff;
    }

    /* tags */
    .photo-tags-wrapper { 
        margin-top: inherit !important;
        margin-left: inherit !important;
    }
}
